body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.navbar-color, .navbar-header, .navbar {
	background-color: pink;
}

.navbar-color a {
	color: white;
}

.nav-tabs > li > a:hover{
  background-color: lavender;
  
}
