* {
  box-sizing: border-box;
  font-family: Helvetica;
  margin: 0;
  padding: 0;
}

/* Navbar Styles --------------------- */

.navbar {
  margin-bottom: 0 !important;
}

.navbar ul {
  width: 100%;
  float: left;
  margin: 0 0 3em 0;
  padding: 5px;
  list-style: none;
  background-color: #511E78;
  border-bottom: 10px solid #CF56A1; 
}

.navbar li > .navbar-brand {
  float: left;
  clear: both;
  color: orange;
}

.navbar li {
  float: right; 
}

.navbar li a {
  display: block;
  padding: 15px 15px;
  text-decoration: none;
  font-size: .75em;
  color: white;
  letter-spacing: 0.1em;  
  text-transform: uppercase;
}

.navbar li a:hover {
  color: white;
  background-color: #8B2F97; 
  border-radius: 5px;
}

.navbar li a:active {
  color: white;
  background-color: #CF56A1; 
  border-radius: 5px;
}

/* Main Content Styles --------------------- */

.jumbotron {
  height: 400px;
  width: 100%;
  position: relative;
  overflow: hidden;
  background: linear-gradient(0deg, #CF56A1, transparent 50%),
              url(https://s-media-cache-ak0.pinimg.com/originals/d8/88/22/d888227c4e37fc341d40b8ecc83cd193.jpg) no-repeat center;
  background-size: cover;
  text-align: center;
}

.title {
  width: 75%;
  color: white;
  font-size: 2em;
  margin: 20px auto;
  display: inline-block;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

button {
  color: white;
  background-color: #CF56A1; 
  border-radius: 5px;
  border: none;
  padding: 15px;
  margin: 0 auto;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

}

.primary-content {
  height: 400px;
  width: 100%;
  position: relative;
  overflow: hidden;
  background: linear-gradient(180deg, #CF56A1, transparent 80%),
              #8B2F97 no-repeat center;
  background-size: cover;
  text-align: center;
}

p {
  color:white;
  margin-top: 50px;
  width: 700px;
  margin: 0 auto;
}



