body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.navbar-color, .navbar-header, .navbar {
	background-color: hotpink;
}

.navbar-color a {
	color: white;
}

.nav-tabs > li > a:hover{
  background-color: purple;
  
}


.bg {
  background: url('https://s-media-cache-ak0.pinimg.com/originals/d8/88/22/d888227c4e37fc341d40b8ecc83cd193.jpg') no-repeat center center;
  position: fixed;
  background-size: cover;
  width: 100%;
  height: 350px; /*same height as jumbotron */
  top:0;
  left:0;
  z-index: -1;
}

.jumbotron {
  margin-bottom: 0px;
  height: 350px;
  color: white;
  text-shadow: black 0.3em 0.3em 0.3em;
  font-size: 50px;
  background:transparent;
}

.day, .main {
	max-width: 50%;
	margin-left: auto ;
  	margin-right: auto ;
  	padding-top: 5%;
  	padding-bottom: 5%;
}

h1 {
	font-family: Satisfy, cursive;
	font-weight:normal;
	font-size:60px;
	padding-top: 60px;
}